<div class="container pt-4">
  <nav class="navbar navbar-light navbar-expand-lg text-uppercase app-navbar mb-5">
    <a class="navbar-brand mr-auto" href="../">
      <span>Kelsey Taylor</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
          <%= nav_helper 'nav-link', 'li' %>
      </ul>
    </div><!--/.nav-collapse -->
  </nav>
</div>
