<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="card pin">
        <div class="card-image">
          <img src="/assets/us.png">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>When we went ice skating</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card pin">
        <div class="card-image">
          <img src="/assets/us.png">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>When we went ice skating</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card pin">
        <div class="card-image">
          <img src="/assets/us.png">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>When we went ice skating</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card pin">
        <div class="card-image">
          <img src="/assets/us.png">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>When we went ice skating</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card pin">
        <div class="card-image">
          <img src="/assets/us.png">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>When we went ice skating</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card pin">
        <div class="card-image">
          <img src="/assets/us.png">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>When we went ice skating</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card pin">
        <div class="card-image">
          <img src="/assets/us.png">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>When we went ice skating</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card pin">
        <div class="card-image">
          <img src="/assets/us.png">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>When we went ice skating</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card pin">
        <div class="card-image">
          <img src="/assets/us.png">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>When we went ice skating</p>
        </div>
      </div>
    </div>
  </div>
</div>



